<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    <title>Channels</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/common.css">
    <script src="/static/common.js"></script>

<style>
#content_body
{
    display: flex;
    flex-direction: column;
}
.channel_card_downloaded,
.channel_card_pending
{
    margin: 8px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000;
}
.channel_card_pending
{
    background-color: #ffffaa;
}
.channel_card_downloaded
{
    background-color: #aaffaa;
}
.refresh_button
{
    width: 10%;
}
</style>
</head>


<body>
{{header.make_header()}}
<div id="content_body">
    <button class="refresh_button" onclick="refresh_all_channels(false)">Refresh new videos</button>
    <button class="refresh_button" onclick="refresh_all_channels(true)">Refresh everything</button>
    {% for channel in channels %}
    {% if channel['has_pending'] %}
    <div class="channel_card_pending">
    {% else %}
    <div class="channel_card_downloaded">
    {% endif %}
        <a href="/channel/{{channel['id']}}">{{channel['name']}}</a>
    </div>
    {% endfor %}
</div>
</body>
</html>


<script type="text/javascript">
function refresh_all_channels(force)
{
    var url = "/refresh_all_channels";
    data = new FormData();
    data.append("force", force)
    return post(url, data, null_callback);    
}
</script>
